.s-orders-page {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .orders-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .order-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background: #f9f9f9;
  }
  .order-image {
    max-width: 150px; /* Adjust the width as per your requirement */
    height: auto;
    object-fit: contain; /* This ensures the image scales without distortion */
  }
  
  .order-card h2 {
    margin-bottom: 10px;
  }
  
  .order-card p {
    margin: 5px 0;
  }
  
  .order-card ul {
    list-style: none;
    padding: 0;
  }
  
  .order-card ul li {
    margin-bottom: 5px;
  }
  .shipping-form {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .shipping-form .form-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .shipping-form .btn-success {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
  }
  .product-details {
    display: flex;
    gap: 15px; /* Adjust spacing */
  }
  
  .product-info {
    margin: 0;
    display: inline-block;
  }
  